:root {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
    min-width: 320px;
    width: 100vw;
}

.header {
    color: #4a4a4a;
    background-color: white;
    width: 100%;
    text-align: center;
}

.header-container {
    width: 90%;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-spotify {
    width: 1.55rem;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

.header .menu {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline;
    position: relative;
}

.menu-items .blog .contact {
    font-size: 1.6rem;
    color: #4a4a4a;

}